<div class="row">
  <h1>New Situation</h1>

  <% if params[:oid] && params[:obutton] %>
    <div data-alert class="alert-box secondary radius">
      You hit a choice that has not been created yet, now you control the story...
    </div>
    <div data-alert class="alert-box alert radius">
      The situation that you create here will be the option that takes the place of the button you clicked on!
    </div>
  <% end %>

  <%= render 'form' %>

  <%= link_to 'Situation List', situations_path %>
</div>
