<div class="row">
  <h1>New Situation</h1>

  <% if params[:oid] && params[:obutton] %>
    <div data-alert class="alert-box secondary radius">
      You hit a choice that has not been created yet, now you control the story...OR you can
    <a href="/situations/1" id="startover">
      Start Over
    </a>
    </div>
    <div data-alert class="alert-box alert radius">
      The situation that you create here will be the option that takes the place of the button you clicked on!
    </div>
  <% end %>

  <%= render 'form' %>
  <% if current_user.admin? %>
    <%= link_to 'Situation List', situations_path %>
  <% end %>
</div>
