<div class="row text-center">
  <div class="title">
    <h1>Peradventure</h1>
  </div>
  <div class="title">
    <p>Peradventure is a story game made by users! The possibilities are endless! You are presented with two choices for every situation you encounter. If you choose a part of the story where no one has been before you can create your own, and continue the story the way YOU want it to go. As such, the story may not be family friendly.
    </p>
  </div>
  <a href="./1" class="button" id="choice1">Let's Go!</a>
</div>
